<div class="logo">
	<img src="<%= domain %>/images/<%= @site_name %>/logo.gif" alt="Title" /><h1>Title</h1>
</div>
<div class="search">
	<img src="<%= domain %>/images/<%= @site_name %>/search.gif" alt="Search" /><input name="search" /><span>חיפוש:</span>
</div>
<ul class="links">
	<% widget.external_sections.each do |e|%>
		<li><%= render_widget :type => 'partial', :widget => 'link', :locals => {:tree_node => e} %></li>
	<% end %>
</ul>
