<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta http-equiv="Content-language" content="utf8"/>
	<title>hebkab</title>
	<%= stylesheet_link_tag 'reset-fonts-grids', 'base-min', get_css_url('inner_page'), :media => 'screen', :rel => 'stylesheet', :title => "no title", :charset => "utf-8"  %>
</head>
<body>

	<div id="doc2" class="yui-t4">
		<div id="hd">
			<!--Header-->
			<%= render_widget :type => 'partial', :widget => 'content_header' %>
		</div>
		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">
					<div class="yui-ge">
						<div class="menu">
							<%= render_widget :type => 'partial', :widget => 'sections', :view_mode => 'list' %>
						</div>
						<div class="h1">
							<img src="<%= domain %>/images/<%= @site_name %>/top-right.gif" class="right" alt="" /><img class="left" src="<%= domain %>/images/<%= @site_name %>/top-left.gif" alt="" />
							חגים בקבלה  |  ט”ו בשבט
						</div>
						<div class="breadcrumbs">
							<a href="#" title="">קבלה לפי נושאים</a><span class="gt"> &gt; </span><a href="#" title="">חגים בקבלה</a><span class="gt"> &gt; </span>ט”ו בשבט
						</div>
						<div class="yui-u first">
							<div class="content">
								<%= yield %>
							</div>
						</div>
						<div class="yui-u">
							<div class="related">
								<%= yield :main_image %>
								<div class="box">
									<div class="box-top">&nbsp;</div>
									<div class="box-mid">
										<h4>מאמרים נוספים בנושא:</h4>
										<ul>
											<li><a href="#" title="">חג לאילנות</a></li>
											<li><a href="#" title="">מה נאה אילן זה</a></li>
											<li><a href="#" title="">תהליך צמיחה רוחני</a></li>
											<li><a href="#" title="">ט”ו בשבט ברוחניות</a></li>
										</ul>
									</div>
									<div class="box-bot">&nbsp;</div>
								</div>
								<div class="box">
									<div class="box-top">&nbsp;</div>
									<div class="box-mid">
									<h4>קישורים למקורות:</h4>
										<ul>
											<li><a href="#" title="">חג לאילנות <span class="gray">(הרב”ש)</span></a></li>
											<li><a href="#" title="">מה נאה אילן זה <span class="gray">(בעל הסולם)</span></a></li>
											<li><a href="#" title="">תהליך צמיחה רוחני <span class="gray">(בעל הסולם)</span></a></li>
											<li><a href="#" title="">ט”ו בשבט ברוחניות <span class="gray">(בעל הסולם)</span></a></li>
										</ul>
									</div>
									<div class="box-bot">&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yui-b">
				<div class="nav">
					<h4><img src="<%= domain %>/images/<%= @site_name %>/top-right.gif" class="right" alt="" /><img class="left" src="<%= domain %>/images/<%= @site_name %>/top-left.gif" alt="" />קבלה לפי נושאים</h4>
					<ul>
						<li>קבלה ואקטואליה</li>
						<li>קמפוס קבלה</li>
						<li class="submenu">חגים בקבלה
							<ul>
								<li class="final">ראש השנה</li>
								<li>יום כיפור</li>
								<li>סוכות</li>
								<li>חנוכה</li>
								<li class="selected">ט”ו בשבט</li>
								<li>פורים</li>
								<li>פסח</li>
								<li>ל”ג בעומר</li>
								<li>שבועות</li>
								<li>ט’ באב</li>
							</ul>
						</li>
						<li>מסע בין כוכבים</li>
						<li>פותחים את הזוהר</li>
						<li>בעקבות לבי</li>
						<li>מושגים בקבלה</li>
						<li>טורים וסיפורים</li>
					</ul>
				</div>
				<div class="news">
					<div class="item">
						<h4>בוקר אור</h4>
						לפתוח את היום בדרך רוחנית תוכנית בוקר יומית, כל בוקר        מ 6:00-7:00 בערוץ 98 בYES   וב HOT<br />
						<a href="#" title="link">לצפיה בתוכנית מה 15.04</a>
						<div class="border">&nbsp;</div>
					</div>
					<div class="item">
						<h4>הבלוג האישי של הרב לייטמן</h4>
						היכנסו וקראו מה מרגיש וחושב מקובל ומדען על אירועי היום, על קבלה ועל משמעות החיים.<br />
						<a href="#" title="link">אל הבלוג</a>
						<div class="border">&nbsp;</div>
					</div>
					<div class="item">
						<h4>קורס יסודות בחכמת הקבלה</h4>
						בואו ללמוד קבלה דרך האינטרנט! ימי א' 21:00. הקורס מיועד למתחילים מכל העולם.<br />
						<a href="#" title="link">צפו בשיעור האחרון</a>
					</div>
				</div>
			</div>
		</div>
		<div id="ft">Footer</div>
	</div>
</body>
</html>
