<%= rp_error_messages_for :resource %>
<%= error_messages_for :tree_node %>

<p><%= f.hidden_field(:resource_type_id) %></p>
<% if @tree_node %>
  <% cms_fields_for "resource[tree_node]", @tree_node do |tree_fields| %>
    <%= tree_fields.hidden_field(:id) %>
    <% if @tree_node.has_url %>
      <%= tree_fields.label("permalink", "Permalink")%>
      <%= tree_fields.text_field(:permalink) %>
    <% end %>
    <%= tree_fields.hidden_field(:parent_id) %>
    <%= tree_fields.hidden_field(:is_main) %>
    <%= tree_fields.hidden_field(:has_url) %>
  <% end %>
<% end %>

<div id="properties">
  <% @resource.get_resource_properties.each_with_index do |resource_property, index| %>
    <%# resource_property = @resource.get_resource_property_by_property(property) %>
<%#debugger%>
    <%= render :partial => "property",
      :locals => {:property => resource_property,
      :data_type => resource_property.property.field_type.downcase,
      :index => index}
    %>
  <% end %>
</div>