<div class="property">
	<% @property = property # for use with error_messages_for only
	errors = rp_error_messages_for :property
	label_class = errors.empty? ? {} : {:class => 'fieldWithErrors'}
	%>
	
   <% cms_fields_for "resource[my_properties][]", property do |f| %>

		<%= f.hidden_field(:property_type, :index => nil) %>
		<%= f.hidden_field(:property_id, :index => nil) %>
		<%= f.hidden_field(:id, :index => nil) %>

		<%= f.label("value", property.name, label_class)%>
		<%= errors %>
		<% case data_type 
			 when 'number', 'string':%>
				<%= f.text_field(:value, :index => nil, :size => 57) %>
			<% when 'boolean':%>
				<%= f.check_box :value, {:index => nil, :class => 'property_checkbox'}, 't', 'f' %>
			<% when 'date':%>
				<%= f.calendar_date_select :value, 
				:time => false, 
				:popup => :force,
				:size => 57,
				:name => 'resource[my_properties][][value]' %>
			<% when 'timestamp':%>
				<%= f.calendar_date_select :value, 
				:time => true, 
				:popup => :force,
				:size => 57,
				:name => 'resource[my_properties][][value]' %>
			<% when 'list':%>
				<%= f.select(:value, @property.property.list.values_for_select, {}, :index => nil) %>
			<% when 'plaintext':%>
				<%= f.text_area(:value, :index => nil, :class => 'mceNoEditor') %>
			<% when 'text':%>
				<%= f.text_area(:value, :index => nil) %>
			<% when 'file':%>
				<% original = @property.original %>
				<% if original %>
					Original: <%= "#{original.filename}: #{original.mime_type.split('/').last} of #{original.size} bytes" %><br/>
					<% if original.is_image? %>
            <%= image_tag	admin_attachment_url(original) %>
            <hr/>
            <% if myself = @property.myself %>
              Self: <%= "#{myself.filename}: #{myself.mime_type.split('/').last} of #{myself.size} bytes" %><br/>
              <%= image_tag	admin_attachment_url(myself) %>
              <hr/>
            <% end %>
            <% @property.thumbnails.each {|img|%>
              Attachment: <%= "#{img.filename}: #{img.mime_type.split('/').last} of #{img.size} bytes" %><br/>
              <%= image_tag	admin_attachment_url(img) %>
              <hr/>
            <% } %>
          <% end %>
				<% end %>
				<%= f.file_field(:value, :index => nil) %>
		<% end %>
		<% if data_type = 'file' && original %>
			<br/>Remove:<br/>
			<%= f.check_box :remove, {:index => nil, :class => 'property_checkbox'}, 't', 'f' %>
		<% else %>
			<%= f.hidden_field(:remove, :index => nil) %>
		<% end%>
	
	<% end %>
</div>
