<% name = @resource.resource_type.name %>
<% @title = _(:editing) + ' ' + _(name.downcase.tr(' ','_').to_sym) + ' &mdash; ' + _(@resource.status.to_sym)%>
<%= render :partial => "admin/share/tiny_mce_full" %>

<% form_for @resource, :url => admin_resource_path(@resource), :html => {:method => 'put', :multipart => true} do |f| %>
  <% update_name =  _(:update) + ' ' + _(name.downcase.tr(' ','_').to_sym) %>
  <br />
  <%= link_to _(:cancel), session[:referer], {:class => 'button'} %>
  <br />
  <br />
  <p class="submit">
    <input type="submit" value="<%= update_name %>" name="publish_button"/>
    <input type="submit" value="<%= _(:save_draft) %>" name="draft_button"/>
    <% if @tree_node.has_url %>
      <input type="submit" value="<%= _(:move_to_archive) %>" name="archive_button"/>
    <% end %>
  </p>

  <% if @tree_node
    f.fields_for :tree_nodes, @tree_node do |tf|
      if @tree_node.has_url %>
        <%= tf.label('permalink', _(:permalink))%>
        <%= tf.text_field(:permalink) %>
      <% end %>
      <%= tf.hidden_field(:parent_id) %>
      <%= tf.hidden_field(:is_main) %>
      <%= tf.hidden_field(:has_url) %>
      <%= tf.hidden_field(:placeholder) %>
    <% end
  end %>

  <%= render 'fields', :f => f %>

  <p class="submit">
    <input type="submit" value="<%= update_name %>" name="publish_button"/>
    <input type="submit" value="<%= _(:save_draft) %>" name="draft_button"/>
    <% if @tree_node.has_url %>
      <input type="submit" value="<%= _(:move_to_archive) %>" name="archive_button"/>
    <% end %>
  </p>
<% end %>
<%= link_to _(:cancel), session[:referer], {:class => 'button'} %>