<% name = @resource.resource_type.name %>
<% @title = I18n.t(:Creating) + ' ' + _(name) %>
<%= render :partial => "admin/share/tiny_mce_full" %>
<% cms_form_for(:resource, :url => admin_resources_path, :html => {:multipart => true}) do |f| %>
<%= link_to I18n.t(:Cancel), session[:referer], {:class => 'button'} %>
<br />
<br />
<br />
<br />
	<div class="submit">
		<%#= submit_tag _"Save draft", :id => 'draft_button' %>
		<%#= submit_tag _"Publish on site", :class => 'sw2111' %>
		<input type="submit" value="<%= _"Publish on site" %>" name="publish_button"/>
		<input type="submit" value="<%= _"Save draft" %>" name="draft_button"/>
	</div>
	<%= render :partial => 'fields', :locals => {:f => f} %>
	<div class="submit">
		<%#= submit_tag _"Save draft", :id => 'draft_button' %>
		<%#= submit_tag _"Publish on site", :class => 'sw2111' %>
		<input type="submit" value="<%= _"Publish on site" %>" name="publish_button"/>
		<input type="submit" value="<%= _"Save draft" %>" name="draft_button"/>
	</div>
<% end %>
<br />
<%= link_to I18n.t(:Cancel), session[:referer], {:class => 'button'} %>
