<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-language" content="utf8" /> 
    <title><%= @title %></title>
    <%= javascript_include_tag 'jquery', 'jquery.placement.below.js',
      'ui/ui.core.min.js', 'ui/ui.tabs.min.js', 'ui/ui.sortable.min.js',
      'ui/ui.draggable.min.js', 'ui/ui.droppable.min.js', 'ui/jquery.color.js',
      'ui/ui.datepicker.min.js', 'ui/ui.timepicker.js',
      'jrails', 'application'
    %>
    <%= javascript_include_tag "ui/i18n/ui.datepicker-#{params[:slang]}" if params[:slang] %>
    <%= stylesheet_link_tag 'reset-fonts-grids' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'local.datepicker.css' %>
    <%= yield :header %>
  </head>
  <body>
    <div id="doc2" class="yui-t7">
      <div id="hd">
        <%= link_to(image_tag("/images/cms_logo_small.gif"), '/') %>
        <h1><%= @title %></h1>
        <% if flash[:notice] %>
        <p class="notice"><%= flash[:notice] %></p>
        <% end %>
      </div>
	<div id="bd">
		<div class="yui-g">
			<%site_directoin = session[:site_direction] rescue 'rtl'%>
			<div class="<%= site_directoin %>">
				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
      <div id="ft"></div>
    </div>
  </body>
</html>